<header></header>
<main>
<h1>Listado de productos</h1>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}} {{!-- Similar al TR en ANGULAR del NGFOR solo cambia la sintaxis --}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</main>